In [279]:
import pandas as pd
import numpy as np

In [280]:
class AboutIris():
    # method that reads the data file iris.data.head.csv into a data frame
    def load_iris(self):
        path = "../data/iris.data.head.csv"
        data = pd.read_csv(path)
        df = pd.DataFrame(data)
        return df
    
    # method that calculates the mean and standard deviation of the first four columns for the class Iris-setosa
    def ms_setosa(self, df):
        condition = df["class"] == "Iris-setosa"
        setosa_df = df.loc[condition]
        first_four = setosa_df.iloc[:,:4]
        means = first_four.mean()
        sds = first_four.std()
        return [means, sds]

    
    def ms_versi(self, df):
        condition = df["class"] == "Iris-versicolor"
        setosa_df = df.loc[condition]
        first_four = setosa_df.iloc[:,:4]
        means = first_four.mean()
        sds = first_four.std()
        return [means,sds]

    def ms_virg(self, df):
        condition = df["class"] == "Iris-virginica"
        setosa_df = df.loc[condition]
        first_four = setosa_df.iloc[:,:4]
        means = first_four.mean()
        sds = first_four.std()
        return [means,sds]

In [281]:
def ms_cleanup(list):
        mean_df = pd.DataFrame(list[0])
        std_df = pd.DataFrame(list[1])
        mean_df.columns = ["mean"]
        std_df.columns = ["std"]
        concat_df = pd.concat([mean_df,std_df], axis = 1)
        return concat_df

In [282]:
iris_class = AboutIris()

In [283]:
iris_df = iris_class.load_iris()

In [284]:
seto = iris_class.ms_setosa(iris_df)
ms_cleanup(seto)

               mean       std
sepal_length  5.006  0.352490
sepal_width   3.418  0.381024
petal_length  1.464  0.173511
petal_width   0.244  0.107210

In [285]:
versi = iris_class.ms_versi(iris_df)
ms_cleanup(versi)

               mean       std
sepal_length  5.936  0.516171
sepal_width   2.770  0.313798
petal_length  4.260  0.469911
petal_width   1.326  0.197753

In [286]:
virg = iris_class.ms_virg(iris_df)
ms_cleanup(virg)

               mean       std
sepal_length  6.588  0.635880
sepal_width   2.974  0.322497
petal_length  5.552  0.551895
petal_width   2.026  0.274650